<a href="https://colab.research.google.com/github/JosefinaArayaTapia/CursoPandas/blob/main/Funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [ ]:
from google.colab import drive

drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/{}'

In [ ]:
df_london_bike=pd.read_csv(dir_pandas.format('london_merged.csv'))
df_london_bike

                 timestamp   cnt   t1  ...  is_holiday  is_weekend  season
0      2015-01-04 00:00:00   182  3.0  ...         0.0         1.0     3.0
1      2015-01-04 01:00:00   138  3.0  ...         0.0         1.0     3.0
2      2015-01-04 02:00:00   134  2.5  ...         0.0         1.0     3.0
3      2015-01-04 03:00:00    72  2.0  ...         0.0         1.0     3.0
4      2015-01-04 04:00:00    47  2.0  ...         0.0         1.0     3.0
...                    ...   ...  ...  ...         ...         ...     ...
17409  2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410  2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411  2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412  2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413  2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[17414 rows x 10 columns]

In [ ]:
df_london_bike.dtypes

timestamp       datetime64[ns]
cnt                      int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code           float64
is_holiday             float64
is_weekend             float64
season                 float64
dtype: object

In [ ]:
df_london_bike['timestamp']=pd.to_datetime(df_london_bike['timestamp'])

In [ ]:
df_london_bike

                timestamp   cnt   t1  ...  is_holiday  is_weekend  season
0     2015-01-04 00:00:00   182  3.0  ...         0.0         1.0     3.0
1     2015-01-04 01:00:00   138  3.0  ...         0.0         1.0     3.0
2     2015-01-04 02:00:00   134  2.5  ...         0.0         1.0     3.0
3     2015-01-04 03:00:00    72  2.0  ...         0.0         1.0     3.0
4     2015-01-04 04:00:00    47  2.0  ...         0.0         1.0     3.0
...                   ...   ...  ...  ...         ...         ...     ...
17409 2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410 2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411 2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412 2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413 2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[17414 rows x 10 columns]

In [ ]:
df_london_bike['hour'] = df_london_bike['timestamp'].dt.hour

In [ ]:
df_london_bike.sample(6)

                timestamp   cnt    t1  ...  is_weekend  season  hour
12194 2016-05-28 23:00:00   789  14.0  ...         1.0     0.0    23
17198 2016-12-26 00:00:00   371  13.0  ...         0.0     3.0     0
11544 2016-05-01 21:00:00   601  12.0  ...         1.0     0.0    21
2831  2015-05-02 07:00:00   215   7.5  ...         1.0     0.0     7
11661 2016-05-06 18:00:00  4136  18.5  ...         0.0     0.0    18
3844  2015-06-13 15:00:00  2491  19.5  ...         1.0     1.0    15

[6 rows x 11 columns]

In [ ]:
#crea un nuevo dt con las columnas desde la 2da al final
df = df_london_bike.iloc[:,1:]
df

        cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hour
0       182  3.0  2.0   93.0  ...         0.0         1.0     3.0     0
1       138  3.0  2.5   93.0  ...         0.0         1.0     3.0     1
2       134  2.5  2.5   96.5  ...         0.0         1.0     3.0     2
3        72  2.0  2.0  100.0  ...         0.0         1.0     3.0     3
4        47  2.0  0.0   93.0  ...         0.0         1.0     3.0     4
...     ...  ...  ...    ...  ...         ...         ...     ...   ...
17409  1042  5.0  1.0   81.0  ...         0.0         0.0     3.0    19
17410   541  5.0  1.0   81.0  ...         0.0         0.0     3.0    20
17411   337  5.5  1.5   78.5  ...         0.0         0.0     3.0    21
17412   224  5.5  1.5   76.0  ...         0.0         0.0     3.0    22
17413   139  5.0  1.0   76.0  ...         0.0         0.0     3.0    23

[17414 rows x 10 columns]

In [ ]:
#Potencias y matematicas con numpy
np.sin(df['wind_speed']**2)+10

0         9.008221
1         9.867648
2        10.000000
3        10.000000
4         9.013013
           ...
17409    10.279387
17410    10.923470
17411     9.114047
17412    10.936473
17413    10.193503
Name: wind_speed, Length: 17414, dtype: float64

In [ ]:
df['t1']-df['t2']

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [ ]:
#seleccion solo de indices pares (N)
df['t1'].iloc[::3]-df['t2']

0        1.0
1        NaN
2        NaN
3        0.0
4        NaN
        ...
17409    4.0
17410    NaN
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

In [ ]:
#seleccion solo de indices pares (N) y resta con pandas para que no salga NAN
df['t1'].iloc[::3].sub(df['t2'],fill_value=1000)

0           1.0
1         997.5
2         997.5
3           0.0
4        1000.0
          ...
17409       4.0
17410     999.0
17411     998.5
17412       4.0
17413     999.0
Length: 17414, dtype: float64

In [ ]:
#Division
df['t1']/df['t2']

0        1.500000
1        1.200000
2        1.000000
3        1.000000
4             inf
           ...
17409    5.000000
17410    5.000000
17411    3.666667
17412    3.666667
17413    5.000000
Length: 17414, dtype: float64

In [ ]:
#Produto Punto/Escalar
df['t1'].dot(df['t1'])

3247652.777777778

In [ ]:
#Funciones más complejas y lambdas
def fun_1(x):
  y =x**2+1
  return y

In [ ]:
fun_1(10)

101

In [ ]:
#Vector
np.arange(-5,6).shape

(11,)

In [ ]:
fun_1(np.arange(-5,6))

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

In [ ]:
df['hour'].apply(fun_1)

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

In [ ]:
def fun_2(x,a=1,b=0):
  y=x**2+a*x+b
  return y

In [ ]:
fun_2(100,a=4,b=8)

10408

In [ ]:
df['hour'].apply(fun_2,args=(20,-100))

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

In [ ]:
#same
df['hour'].apply(fun_2,a=20,b=-100)

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

In [ ]:
#funciones lamdas

df['t1'].apply(lambda x: x+273)

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

In [ ]:
##Funcion a todo el df

df.apply(lambda x: x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

In [ ]:
df.apply(lambda x: x.mean(),axis='columns')

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64

In [ ]:
df.apply(lambda x: x.std(),axis='columns')

0         60.787517
1         49.012045
2         48.779692
3         36.249751
4         30.642427
            ...
17409    325.831944
17410    168.138964
17411    104.504505
17412     70.027296
17413     45.710320
Length: 17414, dtype: float64

In [ ]:
df.apply(lambda x: x['t1']-x['t2'],axis='columns')

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [ ]:
#Aplciar las funiones a todas las columnas de forma independiente
df.applymap(lambda x: x/1000)

         cnt      t1      t2     hum  ...  is_holiday  is_weekend  season   hour
0      0.182  0.0030  0.0020  0.0930  ...         0.0       0.001   0.003  0.000
1      0.138  0.0030  0.0025  0.0930  ...         0.0       0.001   0.003  0.001
2      0.134  0.0025  0.0025  0.0965  ...         0.0       0.001   0.003  0.002
3      0.072  0.0020  0.0020  0.1000  ...         0.0       0.001   0.003  0.003
4      0.047  0.0020  0.0000  0.0930  ...         0.0       0.001   0.003  0.004
...      ...     ...     ...     ...  ...         ...         ...     ...    ...
17409  1.042  0.0050  0.0010  0.0810  ...         0.0       0.000   0.003  0.019
17410  0.541  0.0050  0.0010  0.0810  ...         0.0       0.000   0.003  0.020
17411  0.337  0.0055  0.0015  0.0785  ...         0.0       0.000   0.003  0.021
17412  0.224  0.0055  0.0015  0.0760  ...         0.0       0.000   0.003  0.022
17413  0.139  0.0050  0.0010  0.0760  ...         0.0       0.000   0.003  0.023

[17414 rows x 10 columns]