<a href="https://colab.research.google.com/github/JosefinaArayaTapia/CursoPandas/blob/main/Multiples_Indices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [2]:
from google.colab import drive

drive.mount("/content/drive")

Mounted at /content/drive

In [10]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/{}'

In [11]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db/

dict_data.csv	   Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_2106202.csv
dict_data.json	   Metadata_Indicator_API_SP.POP.TOTL_DS2_en_csv_v2_2106202.csv
dict_data.xlsx	   meteorite-landings.csv
london_merged.csv  poblacion.csv

In [23]:
df_pob=pd.read_csv(dir_pandas.format('poblacion.csv'))
pd.options.display.float_format = '{:.1f}'.format
df_pob

                       Country  year          pop
0                  Afghanistan  2015   34413603.0
1                      Albania  2015    2880703.0
2                      Algeria  2015   39728025.0
3               American Samoa  2015      55812.0
4                      Andorra  2015      78011.0
...                        ...   ...          ...
1035  Pre-demographic dividend  2018  919485393.0
1036              Small states  2018   40575321.0
1037                South Asia  2018 1814388744.0
1038   South Asia (IDA & IBRD)  2018 1814388744.0
1039        Sub-Saharan Africa  2018 1078306520.0

[1040 rows x 3 columns]

In [25]:
#convertir año a variable categorica para multiple indices

df_pob['year'] = pd.Categorical(df_pob['year'].apply(str))

In [27]:
df_pob.dtypes

Country      object
year       category
pop         float64
dtype: object

In [31]:
idx_filtro = df_pob['Country'].isin(['Aruba','Colombia','Chile'])
idx_filtro

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

In [41]:
df_sample = df_pob[idx_filtro]
df_sample

      Country  year        pop
9       Aruba  2015   104341.0
40      Chile  2015 17969353.0
42   Colombia  2015 47520667.0
269     Aruba  2016   104872.0
300     Chile  2016 18209068.0
302  Colombia  2016 48171392.0
529     Aruba  2017   105366.0
560     Chile  2017 18470439.0
562  Colombia  2017 48901066.0
789     Aruba  2018   105845.0
820     Chile  2018 18729160.0
822  Colombia  2018 49648685.0

In [42]:
#crear Indice
df_sample=df_sample.set_index(['Country','year']).sort_index()
df_sample

                     pop
Country  year
Aruba    2015   104341.0
         2016   104872.0
         2017   105366.0
         2018   105845.0
Chile    2015 17969353.0
         2016 18209068.0
         2017 18470439.0
         2018 18729160.0
Colombia 2015 47520667.0
         2016 48171392.0
         2017 48901066.0
         2018 49648685.0

In [44]:
df_sample.loc['Chile',:].loc['2018',:]

pop   18729160.0
Name: 2018, dtype: float64

In [45]:
df_sample.xs(['Chile'])

            pop
year
2015 17969353.0
2016 18209068.0
2017 18470439.0
2018 18729160.0

In [46]:
df_sample.xs(['Chile','2018'])

pop   18729160.0
Name: (Chile, 2018), dtype: float64

In [48]:
#Seleccion a bajo nivel

df_sample.xs('2018',level='year')

                pop
Country
Aruba      105845.0
Chile    18729160.0
Colombia 49648685.0

In [72]:
df_countries = df_pob.set_index(['Country','year']).sort_index(ascending=[True,True])
df_countries

                        pop
Country     year
Afghanistan 2015 34413603.0
            2016 35383128.0
            2017 36296400.0
            2018 37172386.0
Albania     2015  2880703.0
...                     ...
Zambia      2018 17351822.0
Zimbabwe    2015 13814629.0
            2016 14030390.0
            2017 14236745.0
            2018 14439018.0

[1040 rows x 1 columns]

In [73]:
ids = pd.IndexSlice

In [74]:
df_countries.loc[ids['Aruba':'Austria','2016':'2018'],:].sort_index()

                      pop
Country   year
Aruba     2016   104872.0
          2017   105366.0
          2018   105845.0
Australia 2016 24190907.0
          2017 24601860.0
          2018 24992369.0
Austria   2016  8736668.0
          2017  8797566.0
          2018  8847037.0

In [79]:
df_countries.index.get_level_values(0)

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan', 'Albania',
       'Albania', 'Albania', 'Albania', 'Algeria', 'Algeria',
       ...
       'Yemen, Rep.', 'Yemen, Rep.', 'Zambia', 'Zambia', 'Zambia', 'Zambia',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=1040)

In [82]:
df_countries['pop']['Chile']['2015']

17969353.0

In [83]:
##Beneficios multi indice

df_countries.sum(level='year')

               pop
year
2015 65679147019.0
2016 66487930677.0
2017 67294176701.0
2018 68087886692.0

In [85]:
df_sample

                     pop
Country  year
Aruba    2015   104341.0
         2016   104872.0
         2017   105366.0
         2018   105845.0
Chile    2015 17969353.0
         2016 18209068.0
         2017 18470439.0
         2018 18729160.0
Colombia 2015 47520667.0
         2016 48171392.0
         2017 48901066.0
         2018 49648685.0

In [84]:
df_sample.unstack('year')

                pop
year           2015       2016       2017       2018
Country
Aruba      104341.0   104872.0   105366.0   105845.0
Chile    17969353.0 18209068.0 18470439.0 18729160.0
Colombia 47520667.0 48171392.0 48901066.0 49648685.0

In [87]:
df_sample.unstack('Country')

             pop
Country    Aruba      Chile   Colombia
year
2015    104341.0 17969353.0 47520667.0
2016    104872.0 18209068.0 48171392.0
2017    105366.0 18470439.0 48901066.0
2018    105845.0 18729160.0 49648685.0